.cc-reset, .cc-attribution-element, .cc-attribution-button, .cc-attribution-button:hover, .cc-attribution-copy-button:hover, .cc-attribution-button:active, .cc-attribution-copy-button:active, .cc-attribution-help-button, .cc-attribution-help-button:hover, .cc-attribution-button-cc, .cc-attribution-button-share, .cc-attribution-help-button:active, .cc-attribution-copy-button, .cc-attribution-format-select, .cc-attribution-popup, .cc-attribution-note, .cc-help-popup, .cc-transient-notice, .cc-dropdown-wrapper, .cc-dropdown-menu, .cc-dropdown-menu-item, .cc-dropdown-menu-item-link {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 100%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  /* Upsets cc-attribution alignment vertical-align: middle; */ }

.cc-license-block {
  font-color: #686868;
  font-size: 80%;
  font-style: italic;
  font-weight: normal;
}

.cc-attribution-element {
  height: 31px;
  overflow: visible;
  vertical-align: middle;
  font-size: 100%;
  padding: 0;
  float:right;
  display: inline; }

.cc-attribution-button, .cc-attribution-button:hover, .cc-attribution-copy-button:hover, .cc-attribution-button:active, .cc-attribution-copy-button:active, .cc-attribution-help-button, .cc-attribution-help-button:hover {
  height: 31px;
  width: auto;
  margin: 0;
  border: 0;
  border-radius: 4px;
/*font-weight: bold;*/ }

.cc-attribution-button {
  background-color: #ABB1AA;
}

.cc-attribution-button-cc {
  border: 0;
  vertical-align: text-bottom; }
    
.cc-attribution-button-share {
  border: 0;
  vertical-align: text-bottom; }

.cc-attribution-copy-button, .cc-attribution-copy-button:hover, .cc-attribution-copy-button:active {
  padding: 0 2px 0 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius: 4px 0px 0px 4px; }

.cc-attribution-format-select {
  background-color: #ABB1AA;
  height: 31px;
  width: 5em;
  margin: 0;
  padding: 0 5px 0 0px;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 4px 4px 0px; }

.cc-attribution-help-button, .cc-attribution-help-button:hover {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  padding: 0 5px 0 5px;
  /*font-weight: bold;*/ }

.cc-attribution-help-button {
  background-color: #ABB1AA;
}

.cc-attribution-help-button:hover {
  background-color:  rgba(51, 51, 51, 0.7); }

.cc-attribution-popup {
  display: inline-block;
  padding: 12px;
  border: 2px solid gray;
  border-radius: 12px;
  font-family: sans-serif; }

.cc-attribution-note {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: small; }

.cc-help-popup {
  background-color: #F8F8F8;
  border: 1px solid #666666;
  position: fixed;
  width: 200px;
  height: auto;
  bottom: 60%;
  left: 50%;
  margin-left: -100px;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0px 0px 24px -1px #3f3f3f; }

.cc-transient-notice {
  color: #F5F5F5;
  background-color: #444444;
  font-size: 20px;
  text-align: center;
  position: fixed;
  width: 200px;
  height: auto;
  left: 50%;
  margin-left: -100px;
  bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 24px -1px #3f3f3f; }

.cc-dropdown-wrapper {
  position: relative;
  display: inline-block;
  margin-left: -4px;}

.cc-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  display: none;
  background-color: #E8E8E8;
  border: 1px solid gray;
  box-shadow: 0px 0px 24px -1px #3f3f3f; }

.cc-dropdown-menu-item {
  font-weight: bold;
  float: left;
  padding: 3px 8px;
  /* So we fill the drop-down div, and our background color covers it */
  width: 100%;
  /*background-color: #FFF;*/
  margin: 0 10px 0 0;
  list-style-type: none; }

.cc-dropdown-menu-item-selected {
  background: #CCCCCC; }

.cc-dropdown-menu-item-link {
  font-size: 100%;
  display: block;
  width: 60px;
  text-decoration: none;
  /* And to remove the underlining from WordPress's style... */
  box-shadow: none !important;
  border: none !important; }
