# https://help.github.com/en/articles/about-code-owners
# If you want to match two or more code owners with the same pattern, all the
# code owners must be on the same line. If the code owners are not on the same
# line, the pattern matches only the last mentioned code owner.
* @creativecommons/technology @creativecommons/ct-wordpress-plugin-core-committers @creativecommons/ct-wordpress-plugin-maintainers
