/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-pdm {
	background: $gray;
	border: 0.2rem solid $black;
	color: $black;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}
