/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-cc-by {
	margin: 0 auto;
	max-width: 740px;
	padding: 1rem;
}

.cc-cgb-richtext-input {
	border-right: 2px solid $gray;
	border-bottom: 3px solid $gray;
}

.cc-cgb-richtext-input:hover {
	border-right: 3px solid #5e5e5e;
	border-bottom: 4px solid #5e5e5e;
}
